{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Logging Testing Application</title>
  <meta name="description" content="Writes example log entires for testing Kibana on OpenShift ">
  <meta name="author" content="Richard Walker">

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">

  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>